<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <!--设置-->
    <typeAliases>
        <!--<typeAlias type="cn.bdqn.pojo.Provider" alias="Provider"/>-->
        <package name="com.appinfo.pojo"/>
    </typeAliases>
</configuration>